{% extends 'base.html' %}
{% block body %}
        <main class="content">
            <section class="centered">
                <h3>Most Watched Movies</h3>
                <div class="movies">
                    <div class="mov">
                        <a href="single.html">
                            <img src="">
                            <h2 class="movietitle">The Space Between Us</h2>
                        </a>
                    </div>
                    <div class="mov">
                        <a href="single.html">
                            <img src="">
                            <h2 class="movietitle">Transformers</h2>
                        </a>
                    </div>
                    <div class="mov">
                        <a href="single.html">
                            <img src="">
                            <h2 class="movietitle">Fifty Shades Darker</h2>
                        </a>
                    </div>
                    <div class="mov">
                        <a href="single.html">
                            <img src="">
                            <h2 class="movietitle">XXX</h2>
                        </a>
                    </div>

                </div>
            </section>
        </main>
        {% endblock %}